{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="">
{% endblock %}

{% block conteudo %}
<h2>{{titulo}}</h2>

<form method="POST" action="">
    <p>
        Login: <input name="login" value="{{coordenador.login}}"/>
        Senha: <input name="senha" value="{{coordenador.senha}}"/>
        Nome: <input name="nome" value="{{coordenador.nome}}"/>
        E-mail: <input name="email" value="{{coordenador.email}}"/>
        Celular: <input name="celular" value="{{coordenador.celular}}"/>
        <button>{{botao}}</button>
    </p>
</form>


{%endblock%}
