{% extends 'base.html' %}



{% block conteudo %}
<section>
    <article>
        <h2>Coordenador</h2>
        <a><a href="/novoCoordenador">Novo Coordenador</a></a>
            <table border="1" width="100%">
                <tr>
                    <th>Login Coordenador</th>
                    <th>Nome Coordenador</th>
                    <th>Email Coordenador</th>
                    <th>Celular Coordenador</th>
                    <th>Ações</th>
                </tr>
                {% for coordenador in coordenadores %}
                <tr>
                    <td>{{coordenador.id_login.login}}</td>
                    <td>{{coordenador.nome}}</td>
                    <td>{{coordenador.email}}</td>
                    <td>{{coordenador.celular}}</td>
                    <td>
                        <a href="/editarCoordenador/{{coordenador.id}}">Editar</a>
                        <a href="/excluirCoordenador/{{coordenador.id}}">Excluir</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
    </article>
</section>
{% endblock %}
