{% extends 'base.html' %}


{% block conteudo %}
    <h1>Mensagens</h1>
    <p>
        <a href="{% url 'message_create' %}">Nova mensagem</a>
    </p>
    <ol>
    {% for m in messages %}
        <li>
            {{ m }}
            <a href="{% url 'message_edit' pk=m.pk %}">Editar</a>
            <a href="#" data-message="{{ m.pk }}" id="a{{ m.pk }}" class="delete" href="">Excluir</a>
        </li>
    {% endfor %}
    </ol>
    <form action="{% url 'message_delete' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="pk" id="delete-pk">
    </form>
{% endblock %}

{% block js %}
    <script>
        document.querySelectorAll('a.delete').forEach(a => {
            a.onclick = e => {
                if (confirm('Tem certeza que deseja excluir esta mensagem?')) {
                    var input = document.querySelector('#delete-pk');
                    input.value = a.dataset.message;
                    input.form.submit();
                }
            };
        });
    </script>
{% endblock %}
