{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="../static/css/styleNovaDisciplina.css">
{% endblock %}

{% block conteudo %}
<section>
    <article>
        <form action="" method="post" name="form_nova_disciplina">
            <fieldset>
                <legend>
                    <h2>Nova Disciplina</h2>
                </legend>
                <ul>
                    <li>
                        <select class="select_tipo_disciplina">
                            <option disabled selected>Tipo:</option>
                            <option id="opcao_presencial" value="presencial">Presencial</option>
                            <option id="opcao_ead" value="ead">EAD</option>
                        </select>
                    </li>
                    <li>
                        <input type="text" id="nome_disciplina" name="disciplina" placeholder="Disciplina:" maxlength="100">
                    </li>
                    <li>
                        <input type="text" id="nome_professor" name="professor" placeholder="Professor:" maxlength="100">
                    </li>
                    <li>
                        <select>
                            <option disabled selected>Carga horária:</option>
                            <option id="40horas" value="40">40 horas</option>
                            <option id="60horas" value="60">60 horas</option>
                            <option id="80horas" value="80">80 horas</option>
                        </select>
                    </li>
                    <li>
                        <textarea id="mensagem" placeholder="Descrição..."></textarea>
                    </li>
                    <li>
                        <button>Cadastrar</button>
                    </li>
                </ul>
            </fieldset>
        </form>
    </article>
</section>
{% endblock %}