{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="../static/css/styleNovoAluno.css">
{% endblock %}

{% block js %}
    <script src="../static/js/novoAluno.js"></script>
{% endblock %}

{% block conteudo %}
<section>
    <article>
        <form action="" method="POST" name="form_novo_aluno">
            <fieldset>
                <legend>
                    <h2>Novo aluno</h2>
                </legend>
                <ul>
                    <li>
                        <input type="text" id="login" placeholder="Usuário:" required>
                    </li>
                    <li>
                        <input type="text" id="nome" placeholder="Nome:" required>
                    </li>
                    <li>
                        <input type="email" id="email" placeholder="E-mail:" required>
                    </li>
                    <li>
                        <input type="tel" id="celular" placeholder="Celular/Telefone:">
                    </li>
                    <li>
                        <input type="date" id="dataNasc" placeholder="Data de Nascimento:" required>
                    </li>
                    <li>
                        <input type="text" id="cpf" maxlength="11" placeholder="CPF:" required>
                    </li>
                    <li>
                        <input type="password" id="senha" placeholder="Senha:" required>
                    </li>
                    <li>
                        <input type="password" id="confirmaSenha" placeholder="Confirme sua senha:" required>
                    </li>
                    <li>
                        <button onclick="validaDados()">Cadastrar</button>
                    </li>
                </ul>
            </fieldset>
        </form>
    </article>
</section>
{% endblock %}