{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <meta name="author" content="development team 2°B">
        <meta name="description" content="melhor faculdade de tecnologia">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <header>
            <div class="menu">

                    <div>
                        <a href="{% url 'core:index' %}"><img src="{% static "images/impactaLogo.png" %}"></a>
                    </div>
                    {% if not logged_in %}
                    <div>
                        <a class="dropbtn" href="{% url 'core:login' %}">Login</a>
                    </div>
                    <div class="dropdown">
                        <a onclick="myFunction()" class="dropbtn">Cursos</a>
                    <!--<a href="{% url 'core:cursos' %}">Cursos</a>-->
                      <div id="myDropdown" class="dropdown-content">
                        <a href="{% url 'core:detalhesCurso' %}">ADS</a>
                        <a href="{% url 'core:cursos' %}">Todos</a>
                      </div>
                    </div>
                    <div>
                        <a class="dropbtn" href="{% url 'core:aImpacta' %}">A Impacta</a>
                    </div>
                    <div>
                        <a class="dropbtn" href="{% url 'core:contato' %}">Contato</a>
                    </div>
                    {% else %}
                    <div>
                        <a class="dropbtn" href="{% url 'core:logout' %}">Logout</a>
                    </div>
                    <div>
                        <a class="dropbtn" href="{% url 'core:form_novo_curso' %}">Novo Curso</a>
                    </div>
                    <div>
                        <a class="dropbtn" href="{% url 'core:form_nova_disciplina' %}">Nova Disciplina</a>
                    </div>

                    {% endif %}


                </div>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer id=goo2 >  <strong>11 3254-8300 - Impacta 2018 - Todos os Direitos Resevados</strong>  </footer>
    </body>
    <script src="../../static/js/main.js"></script>
</html>
