{% extends "core/base.html" %}
{% block content %}

<head>
    <meta charset="utf-8">
    <title>Contato</title>
    <link rel="stylesheet" href="/css/global.css">
    </head>
<header>
        <strong>Formulário de Contato</strong>
    </header>
    <label for="titulo">Informações Pessoais</label>
    <form action="" method="post" id="titulo" name="titulo">{% csrf_token %}
        <input  id=form_in type="text" name="Username" placeholder="  NOME COMPLETO" maxlength="100">
        <br>
        <input   id=form_in type="email" name="email" placeholder="  E-MAIL" maxlength="100">
        <br>
        <input type="radio" name="option" required value="Bugs" id="opção1">
        <label for="opção1">Bugs</label>
        <input type="radio" name="option" required value="Reclamações" id="opção2">
        <label for="opção2">Reclamações</label>
        <input type="radio" name="option" required value="Sugestões" id="opção3">
        <label for="opção3">Sugestões</label>
        <br>
        <textarea name="message" rows="10" cols="30" placeholder="Escreva sua mensagem aqui."></textarea>
        <br>
        <input  id=form_in type="Submit" name="submit button" value="Enviar">
    </form>
    </body>
{% endblock %}
