{% extends "core/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Cursos</title>
    <meta charset="utf-8">
  </head>
  <body>
        <h1>Cursos</h1>
        <div class="Cursos">
            <img src="imagens/analista-de-sistema.jpg" alt="Curso Analie e Desenvolvimento de Sistemas">
        
            <div class="frases">
                <a href="#" target="blank">Curso Análise e Desenvolvimento de Sistemas</a>
            </div>
        
        
            <img src="imagens/analista-de-sistema.jpg" alt="Curso administração">
        
            <div class="frases">
                <a href="#" target="blank">Administração</a>
            </div>
        
            <img src="imagens/analista-de-sistema.jpg" alt="Curso Banco de Dados">
        
            <div class="frases">
                <a href="#" target="blank">Banco de dados</a>
            </div>
        
        
            <img src="imagens/analista-de-sistema.jpg" alt="Curso Gestão de Tecnologia da Informação">
        
            <div class="frases">
                <a href="#" target="blank">Gestão de Tecnologia da Informação</a>
            </div>
        
        
            <img src="imagens/analista-de-sistema.jpg" alt="Curso Jogos Digitais">
        
            <div class="frases">
                <a href="#" target="blank">Jogos Digitais</a>
            </div>
        
        
            <img src="imagens/analista-de-sistema.jpg" alt="Curso Redes de computadores">
        
            <div class="frases">
                <a href="#" target="blank">Redes de computadores</a>
            </div>
        
            <br>
        
        </div>
  </body>
</html>
{% endblock %}