{% extends "core/base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Cursos</title>
    <meta charset="utf-8">
  </head>
  <body>
        <h1>Cursos</h1>
        <div class="cursos">
                <div class="cursosImg">
                    <img src="{% static "images/analise-desenvolvimento-sistemas.jpg" %}" alt="Curso Analie e Desenvolvimento de Sistemas">
                    
                </div>
                <a href="{% url 'core:detalhesCurso' %}">Analise e Desenvolvimento de Sistemas</a>
                    
                <div class="cursosImg">
                    <img src="{% static "images/administracao.png" %}" alt="Curso administração">
                </div>

                <a href="{% url 'core:detalhesCurso' %}">Administração</a>
    
                <div class="cursosImg">
                    <img src="{% static "images/banco-de-dados.png" %}" alt="Curso Banco de Dados">
                </div>

                <a href="{% url 'core:detalhesCurso' %}">Banco de dados</a>
    
                <div class="cursosImg">
                    <img src="{% static "images/gti.jpg" %}" alt="Curso Gestão de Tecnologia da Informação">
                </div>

                <a href="{% url 'core:detalhesCurso' %}">Gestão de Tecnologia da Informação</a>
                
                <div class="cursosImg">
                    <img src="{% static "images/jogos-digitais.jpg" %}" alt="Curso Jogos Digitais">
                </div>

                <a href="{% url 'core:detalhesCurso' %}">Jogos Digitais</a>
    
                <div class="cursosImg">
                    <img src="{% static "images/redes-computadores.jpg" %}" alt="Curso Redes de computadores">
                </div>

                <a href="{% url 'core:detalhesCurso' %}">Redes de computadores</a>
            
                <br>
        </div>
    </div>
  </body>
</html>
{% endblock %}