{% extends "core/base.html" %}
{% block content %}


<body>
	<div id="curso"class="top_head">
		<div>
			<h1>Conheça Nossos Cursos</h1>
			<p class="lead">Considerada uma das melhores faculdades
             com foco em tecnologia do País</p>
			<p>A Faculdade Impacta oferece cursos de Graduação,
             Pós-Graduação e MBA e cursos técnicos. Conheça quais
             são as áreas de conhecimento que a Impacta aborda e
             saiba um pouco mais sobre cada curso:</p>
		</div>
	</div>
	<br>
		<div id="curso">
			<button id=btn_curso class="btn_curso1"  type="button" >Graduação</button>
			<button id=btn_curso class="btn_curso1" type="button" >MBA e Pós</button>
			<button id=btn_curso class="btn_curso1"  type="button " >Técnico</button>
		</div>
		<hr>
			<div class="cursos_section">
				<h2>
					<u>Cursos de Graduação</u>
				</h2>
				<div>
					<button id=btn_curso_sec class="btn_curso_sec1"  type="button" >Administração</button>
					<button id=btn_curso_sec class="btn_curso_sec1" type="button" >Análise e Desenvolvimento de Sistemas</button>
					<button id=btn_curso_sec class="btn_curso_sec1"  type="button " >Banco de Dados</button>
				</div>
				<div>
					<button id=btn_curso_sec class="btn_curso_sec1"  type="button" >Gestão da Tecnologia e Informação</button>
					<button id=btn_curso_sec class="btn_curso_sec1" type="button" >Jogos Digitais</button>
					<button id=btn_curso_sec class="btn_curso_sec1"  type="button " >Processos Gerencias</button>
				</div>
				<div>
					<button id=btn_curso_sec class="btn_curso_sec1"  type="button" >Produção Multimídia</button>
					<button id=btn_curso_sec class="btn_curso_sec1" type="button" >Redes de Computadores</button>
					<button id=btn_curso_sec class="btn_curso_sec1"  type="button " >Sistemas de Informação</button>
				</div>
			</div>
			<hr>
				<div class="cursos_section_b">
					<h2>
						<u>Cursos de MBA e Pós</u>
					</h2>
					<h3>
						<u>MBA</u>
					</h3>
					<div>
						<button id=btn_curso_sec class="btn_curso_sec1"  type="button" >Gestão da Tecnologia da Informação</button>
						<button id=btn_curso_sec class="btn_curso_sec1" type="button" >Gestão de Projetos com ênfase no PMBoK</button>
						<button id=btn_curso_sec class="btn_curso_sec1"  type="button " >Gestão de Riscos e Continuidade de Negócios</button>
					</div>
					<div>
						<button id=btn_curso_sec class="btn_curso_sec1"  type="button" >Gestão da Tecnologia e Segurança da Informação</button>
					</div>
					<h3>
						<u>Pós</u>
					</h3>
					<div>
						<button id=btn_curso_sec class="btn_curso_sec1"  type="button" >Arquitetura da Informação</button>
						<button id=btn_curso_sec class="btn_curso_sec1" type="button" >Business Intelligence</button>
						<button id=btn_curso_sec class="btn_curso_sec1"  type="button " >Cloud Computing</button>
					</div>
					<div>
						<button id=btn_curso_sec class="btn_curso_sec1"  type="button" >Cyber Security</button>
						<button id=btn_curso_sec class="btn_curso_sec1" type="button" >Engenharia de Software</button>
						<button id=btn_curso_sec class="btn_curso_sec1"  type="button " >Gestão Ágil de Negócios em TI</button>
					</div>
					<div>
						<button id=btn_curso_sec class="btn_curso_sec1"  type="button" >Gestão de Processos de Negócios</button>
						<button id=btn_curso_sec class="btn_curso_sec1" type="button" >Gestão de TI</button>
						<button id=btn_curso_sec class="btn_curso_sec1"  type="button " >Perícia Forense Digital</button>
					</div>
				</div>
				<hr>
					<div class="cursos_section">
						<h2>
							<u>Cursos Técnicos</u>
						</h2>
						<div>
							<button id=btn_curso_sec class="btn_curso_sec1"  type="button" >Mecatrônica</button>
							<button id=btn_curso_sec class="btn_curso_sec1" type="button" >Telecomunicações</button>
							<button id=btn_curso_sec class="btn_curso_sec1"  type="button " >Eletrônica</button>
						</div>
						<div>
							<button id=btn_curso_sec class="btn_curso_sec1"  type="button" >Informática Industrial</button>
						</div>
					</div>
				</body>
{% endblock %}
