{% extends "core/base.html" %} 
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Detelhes de curso</title>
    <meta charset="utf-8">
</head>

	<body>
		
		<div class="section"> 

			<h1>Disciplinas Curso de ADS</h1>

				<h3>1º Semestre</h3>
				<table border=1>
					<tr>
						<th>Matéria</th>
						<th>Carga horaria</th>
					</tr>
					<tr>
						<td>Lógica de programação</td>
						<td>80 horas</td>
					</tr>
					<tr>
						<td>Matematica aplicada</td>
						<td>80 horas</td>
					</tr>
		
					<tr>
						<td>Modelagem de banco de dados</td>
						<td>80 horas</td>
					</tr>
		
					<tr>
						<td>Introdução a Internet das coisas</td>
						<td>80 horas</td>
					</tr>
		
					<tr>
						<td>Linguagem de programação</td>
						<td>80 horas</td>
					</tr>
		
				</table>
		
		
				<h3>2º Semestre</h3>
				<table border=1>
					<tr>
						<th>Matéria</th>
						<th>Carga horaria</th>
					</tr>
					<tr>
						<td>Lógica de programação</td>
						<td>80 horas</td>
					</tr>
					<tr>
						<td>Matematica aplicada</td>
						<td>80 horas</td>
					</tr>
		
					<tr>
						<td>Modelagem de banco de dados</td>
						<td>80 horas</td>
					</tr>
		
					<tr>
						<td>Introdução a Internet das coisas</td>
						<td>80 horas</td>
					</tr>
		
					<tr>
						<td>Linguagem de programação</td>
						<td>80 horas</td>
					</tr>
		
				</table>
		
		
		
				<h3>3º Semestre</h3>
				<table border=1>
					<tr>
						<th>Matéria</th>
						<th>Carga horaria</th>
					</tr>
					<tr>
						<td>Lógica de programação</td>
						<td>80 horas</td>
					</tr>
					<tr>
						<td>Matematica aplicada</td>
						<td>80 horas</td>
					</tr>
		
					<tr>
						<td>Modelagem de banco de dados</td>
						<td>80 horas</td>
					</tr>
		
					<tr>
						<td>Introdução a Internet das coisas</td>
						<td>80 horas</td>
					</tr>
		
					<tr>
						<td>Linguagem de programação</td>
						<td>80 horas</td>
					</tr>
		
				</table>
		
				<h3>4º Semestre</h3>
				<table border=1>
					<tr>
						<th>Matéria</th>
						<th>Carga horaria</th>
					</tr>
					<tr>
						<td>Lógica de programação</td>
						<td>80 horas</td>
					</tr>
					<tr>
						<td>Matematica aplicada</td>
						<td>80 horas</td>
					</tr>
		
					<tr>
						<td>Modelagem de banco de dados</td>
						<td>80 horas</td>
					</tr>
		
					<tr>
						<td>Introdução a Internet das coisas</td>
						<td>80 horas</td>
					</tr>
		
					<tr>
						<td>Linguagem de programação</td>
						<td>80 horas</td>
					</tr>
		
				</table>
			
		</div>
	</body>
	</html>

{% endblock %}

