{% extends "core/base.html" %}
{% load static %}


{% block content %}
<head>
  <title>Formulário de Curso</title>
  <meta charset="utf-8">
</head>
<body>
	<img id="goo" class="responsive"  src="{% static "images/novo_cursoo.jpeg" %}" alt="novo_curso">
	<form>
	<h2>Formulário para criaçao de Novos Cursos</h2>
			<div class="container">
					<div class="row">
				      <div class="col-25">
				        <label for="nome_curso">Nome do Curso:</label>
				      </div>
				      <div class="col-75">
				        <input type="text" id="nome_curso"  placeholder="Nome do Curso..">
				      </div>
				    </div>

						<div class="row">
				      <div class="col-25">
				        <label for="tipo_curso">Tipo de Curso:</label>
				      </div>
				      <div class="col-75">
				        <select id="tipo_curso">
				          <option >Graduação</option>
				          <option >MBA & Pós</option>
				          <option >Técnico</option>
									<option>EAD</option>
				        </select>
				      </div>
				    </div>

              <div class="row">
				      <div class="col-25">
				        <label for="carga">Carga Horária:</label>
				      </div>
				      <div class="col-75">
				        <select id="carga" >
				          <option>40 Horas</option>
				          <option>60 Horas</option>
				          <option>80 Horas</option>
				        </select>
				      </div>
				    </div>

						<div class="row">
							<div class="col-25">
								<label for="carga">Número de Disciplinas:</label>
							</div>
							<div class="col-75">
								<select id="carga" >
									<option>8 </option>
									<option>6 </option>
									<option>4 </option>
								</select>
							</div>
						</div>

						<div class="row">
				      <div class="col-25">
				        <label for="descript">Descrição do Curso:</label>
				      </div>
				      <div class="col-75">
				        <textarea id="descript"  placeholder="Descrição e detalhes do curso.." style="height:200px"></textarea>
				      </div>
				    </div>
				    <div class="row">
				      <input type="submit" value="Submit">
				    </div>
				  </form>
				</div>

        </body>


{% endblock %}
