{% extends "core/base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="/css/global.css">

  </head>
  <body>
    <div class="sobre">
      <header>
        <h1>Analise e desenvolvimento de sistemas</h1>

        <nav>
          <h2>a Impacta</h2>
        <ul>
            <li> <a href="#sobre">Sobre </a></li>
            <li> <a href="#bolsaDeEstudo"> bolsa de estudo</a></li>
            <li> <a href="#matriz">Matriz Curricular</a></li>
        <li> <a href="#info">Informações Técnicas</a></li>
            <!-- <li> <a href="#depoimentos">Depoimentos</a></li> -->
        </ul>
      </nav>

    </header>

      <section >
        <h1 id="sobre">Sobre a Faculdade</h1>

        <p>Fundada em 1988, a Faculdade Impacta é considerada uma das melhores instituições de tecnologia da América Latina
           devido ao seu intenso compromisso com a educação ao longo dos anos e à transformação da sociedade através da
            tecnologia.</p>
        <p>Referência nas áreas de TI, <strong>Gestão e Design</strong>, a Impacta conta com cursos de <strong>Graduação</strong>,
           <strong>Pós-Graduação</strong>, <strong>Extensão</strong>, <strong>MBA</strong>
           e cursos técnicos que preparam seus alunos para os desafios do mercado de trabalho, além de um time de mestres e
          doutores com larga experiência profissional.</p>

        <p>O alto nível de empregabilidade é uma das principais características da Faculdade Impacta, que é reconhecida
           pelas maiores empresas do País, em que seus alunos garantem posições de destaque no mercado de trabalho após
            o término do curso.</p>
        <p>A Instituição ainda conta com infraestrutura moderna, avaliação positiva do MEC, cursos estrelados no Guia do
           Estudante e parcerias estratégicas com grandes empresas para oferecer a melhor formação para os alunos</p>

        <p>O curso é voltado para a criação de <strong> programas</strong>, <strong>softwares</strong> e <strong>sistemas </strong>para as empresas. As etapas do projeto de sistemas de software, como análise, projeto, teste, gestão, implantação e manutenção de sistemas de informação também estão entre os aprendizados da graduação.</p>
        <p>O curso tem disciplinas em <strong>EAD</strong>, o que flexibiliza o estudo e otimiza os deslocamentos.</p>
        <h2>CONHEÇA O SISTEMA SMART CLASS</h2>
       <p>O Smart Class é um sistema de ensino inédito da Faculdade Impacta Tecnologia, que permite assistir todas as
         disciplinas dos cursos de Graduação no formato digital. O aluno matriculado em qualquer graduação da
         Faculdade Impacta tem acesso a mais de 20 mil aulas, garantindo uma formação completa e interdisciplinar.
         E, o melhor, sem qualquer custo adicional!</p>
       <p> <strong>Como funciona o Smart Class?</strong><br>
           As salas de aula da Faculdade Impacta são equipadas com lousas eletrônicas, que capturam todos os pontos das
           aulas presenciais, como voz, escrita dinâmica, vídeos e navegação do professor. Todo esse conteúdo é gravado
           e disponibilizado em uma sala de ensino virtual para que o aluno assista a hora que desejar.</p>

           <article class="impactaEmpresa">
             <h3>Impacta Empreenda 360 Graus</h3>
             <p>Por meio da OPE – Oficina Projeto Empresa, que é realizada durante o curso, o aluno tem a oportunidade de
                construir sua própria startup. O programa de incentivo ao empreendedorismo tem o apoio de grandes nomes do
                 mercado, como a FIESP.</p>
           </article>

             <h2>infraestrutura</h2>
             <ul>
               <li>Salas de aula e laboratórios com equipamentos de última geração;</li>
               <li>210 Computadores DELL com processadores Intel Core i7;</li>
               <li>4 servidores DELL PowerEdge R620;</li>
               <li>Mais de 10.000m² de área construída;</li>
               <li>Conectividade via Wi-Fi Xirrus;</li>
               <li>Auditório para mais de 200 pessoas;</li>
               <li>Biblioteca com mais de 20.000 volumes;</li>
               <li>Estúdio completo de AV:</li>
               <li>Praça de alimentação;</li>
               <li>Estacionamento integrado;</li>
               <li>Acesso total a deficientes físicos.</li>
             </ul>
             </div>
             <div class="bolsaDeEstudo">

             <article>
               <h1 id="bolsaDeEstudo">BOLSA DE ESTUDOS </h1>

               <h2>Plano Estendido Impacta</h2>
              <p>Está começando a carreira e precisa de ajudar para se preparar entre os melhores? Nós te damos essa força
                 pra você se preocupar com o que mais importa, <strong>SUA CARREIRA!</strong></p>
                 <p>Desenvolvemos o Plano Estendido IMPACTA, um suporte financeiro para iniciar os estudos e realizar o sonho
                    de concluir a graduação.</p>
                <h3>COMO FUNCIONA</h3>
                  <p>Não é um financiamento, com o Plano Estendido IMPACTA você pode estender o parcelamento para depois da
                      conclusão do curso,</p>
                  <p>É a Impacta ajudando quem quer estudar em uma faculdade altamente renomada com um valor que cabe no bolso,
                       sem depender de burocracia, cobrança de juros ou fiador.</p>

                <h2>Quem pode se candidatar?</h2>
                <p>Todos os alunos aprovados na análise do PEI (Plano Estendido Impacta) e matriculados conforme o prazo e vagas
                   no curso de interesse.</p>

                   <h2>Vantagens do Plano Estendido Impacta (PEI)</h2>

                   <ul>
                     <li>Válido para todo o curso: você poderá utilizar durante todo o seu curso de graduação.</li>
                     <li>Sem juros: totalmente sem juros ou correção monetária.</li>
                     <li>Sem burocracia: Basta ser aprovado no vestibular e informar da adesão sem burocracia ou complicação.</li>
                     <li>Não precisa conta no banco ou fiador: É tudo muito simples, a adesão é direto na faculdade. Não é um financiamento.</li>
                   </ul>
                   <h2>Regras</h2>
                   <ul>
                     <li>O Plano Estendido Impacta é válido somente para alunos ingressantes em 2018-1.</li>
                     <li>No caso de atraso nos pagamento das mensalidade superior a 30 dias, o Plano Estendido Impacta poderá ser suspenso.</li>
                     <li>Vagas limitadas por curso e turma. Não reservamos vagas para os candidatos aprovados. Garanta sua vaga efetivando a matrícula.</li>
                     <li>Valores para pagamento no dia 05 de cada mês.</li>
                   </ul>
                   <form action="" method="post">
                     <fieldset>
                       <legend>Para se inscrever no Plano Estendido Impacta é muito fácil! Preencha o formulário:</legend>

                     <label for="Lnome">Nome:</label><br>
                     <input type="text" class="campos"name="nome"  id="Lnome" required placeholder="nome"><br>
                     <label for="email">Email:</label><br>
                     <input type="email" class="campos"name="Email" id="email" required placeholder="email"><br>
                     <label for="telefone">Telefone</label><br>
                     <input type="tel" class="campos" name="Telefone" id="telefone"  required placeholder="celular/telefone"><br>
                     <input type="submit" name="enviar" value="enviar dados">
                   </fieldset><br>
                    O formulário será enviado para análise. Sendo aprovado, você será chamado para formalizar a contratação
                   </form>

              </article>
      </section>
  </div>

{% endblock %}
  </body>
</html>
