{% extends "core/base.html" %} {% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Página Inicial</title>
  <link rel="stylesheet" href="/css/global.css">

</head>

<body>
  <div class="nossosCursos">
    <section>
      <h1>Conheça nossos Cursos</h1>
      <div class="cursosImgHeader">
        <a href="{% url 'core:detalhesCurso' %}"><img src="{% static "images/analise-desenvolvimento-sistemas.jpg" %}"title="Curso Analie e Desenvolvimento de Sistemas" alt="Curso Analie e Desenvolvimento de Sistemas"></a>
    </div>
    <div class="cursosImgHeader">
      <a href="{% url 'core:detalhesCurso' %}"><img src="{% static "images/administracao.png" %}"title="Curso administração" alt="Curso administração"></a>
    </div>
    <div class="cursosImgHeader">
        <a href="{% url 'core:detalhesCurso' %}"><img src="{% static "images/banco-de-dados.png" %}" title="Curso Banco de Dados" alt="Curso Banco de Dados"></a>
    </div>
      <br>
  </div>
  <div class="smartClass">
    <h2>CONHEÇA O SISTEMA SMART CLASS</h2>
    <p>O Smart Class é um sistema de ensino inédito da Faculdade Impacta Tecnologia, que permite assistir todas as disciplinas
      dos cursos de Graduação no formato digital. O aluno matriculado em qualquer graduação da Faculdade Impacta tem acesso
      a mais de 20 mil aulas, garantindo uma formação completa e interdisciplinar. E, o melhor, sem qualquer custo adicional!</p>
    <p>
      <strong>Como funciona o Smart Class?</strong>
      <br> As salas de aula da Faculdade Impacta são equipadas com lousas eletrônicas, que capturam todos os pontos das aulas
      presenciais, como voz, escrita dinâmica, vídeos e navegação do professor. Todo esse conteúdo é gravado e disponibilizado
      em uma sala de ensino virtual para que o aluno assista a hora que desejar.</p>
  </div>

  <div class="noticias">
    <h1>Notícias</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
  </div>

  <div class="depoimentos">
      <h1>Depoimentos</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </p>
    </div>

    <div class="premios">
        <h1>Prêmios</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
      </div>


  <div class="bolsaDeEstudo">
    <article>
      <h1 id="bolsaDeEstudo">BOLSA DE ESTUDOS </h1>

      <h2>Plano Estendido Impacta</h2>
      <p>Está começando a carreira e precisa de ajudar para se preparar entre os melhores? Nós te damos essa força pra você
        se preocupar com o que mais importa,
        <strong>SUA CARREIRA!</strong>
      </p>
      <p>Desenvolvemos o Plano Estendido IMPACTA, um suporte financeiro para iniciar os estudos e realizar o sonho de concluir
        a graduação.</p>
      <h3>COMO FUNCIONA</h3>
      <p>Não é um financiamento, com o Plano Estendido IMPACTA você pode estender o parcelamento para depois da conclusão do
        curso,
      </p>
      <p>É a Impacta ajudando quem quer estudar em uma faculdade altamente renomada com um valor que cabe no bolso, sem depender
        de burocracia, cobrança de juros ou fiador.</p>

      <h2>Quem pode se candidatar?</h2>
      <p>Todos os alunos aprovados na análise do PEI (Plano Estendido Impacta) e matriculados conforme o prazo e vagas no curso
        de interesse.</p>

      <h2>Vantagens do Plano Estendido Impacta (PEI)</h2>

      <ul>
        <li>Válido para todo o curso: você poderá utilizar durante todo o seu curso de graduação.</li>
        <li>Sem juros: totalmente sem juros ou correção monetária.</li>
        <li>Sem burocracia: Basta ser aprovado no vestibular e informar da adesão sem burocracia ou complicação.</li>
        <li>Não precisa conta no banco ou fiador: É tudo muito simples, a adesão é direto na faculdade. Não é um financiamento.</li>
      </ul>
      <h2>Regras</h2>
      <ul>
        <li>O Plano Estendido Impacta é válido somente para alunos ingressantes em 2018-1.</li>
        <li>No caso de atraso nos pagamento das mensalidade superior a 30 dias, o Plano Estendido Impacta poderá ser suspenso.</li>
        <li>Vagas limitadas por curso e turma. Não reservamos vagas para os candidatos aprovados. Garanta sua vaga efetivando
          a matrícula.</li>
        <li>Valores para pagamento no dia 05 de cada mês.</li>
      </ul>
      <form action="" method="post">
        <fieldset>
          <legend>Para se inscrever no Plano Estendido Impacta é muito fácil! Preencha o formulário:</legend>

          <label for="Lnome">Nome:</label>
          <br>
          <input type="text" class="campos" name="nome" id="Lnome" required placeholder="nome">
          <br>
          <label for="email">Email:</label>
          <br>
          <input type="email" class="campos" name="Email" id="email" required placeholder="email">
          <br>
          <label for="telefone">Telefone</label>
          <br>
          <input type="tel" class="campos" name="Telefone" id="telefone" required placeholder="celular/telefone">
          <br>
          <input type="submit" name="enviar" value="enviar dados">
        </fieldset>
        <br> O formulário será enviado para análise. Sendo aprovado, você será chamado para formalizar a contratação
      </form>
      <br>
    </article>
    </section>
  </div>


  </section>




  {% endblock %}
</body>

</html>