{% extends "core/base.html" %}

{% block content %}
        <h1>Analise e Desenvolvimento de Sistemas</h1>
        <link rel="stylesheet" href="index.css">
        
        <h2>Navegue</h2>
        <ul>
            <li> <a href="#sobre">Sobre o Curso</a></li>
            <li> <a href="#mercado">Mercado de Trabalho</a></li>
            <li> <a href="#matriz">Matriz Curricular</a></li>
            <li> <a href="#info">Informações Técnicas</a></li>
            <!-- <li> <a href="#depoimentos">Depoimentos</a></li> -->
        </ul>


        <h2 id="sobre">Sobre o curso</h2>
        <p>Entender as necessidades das empresas é fundamental para fazê-las crescer e gerar bons resultados. Desta maneira, um dos caminhos para alavancar os negócios e se destacar no mercado de trabalho é o da Tecnologia. Para isso, a Faculdade Impacta oferece a graduação em <i> Análise e Desenvolvimento de Sistemas</i>, que prepara você para atuar em todas as etapas de projetos de tecnologia da informação - concepção, gerência e manutenção, aplicação e mensuração de resultados.</p>
        <p>O curso é voltado para a criação de <strong> programas</strong>, <strong>softwares</strong> e <strong>sistemas </strong>para as empresas. As etapas do projeto de sistemas de software, como análise, projeto, teste, gestão, implantação e manutenção de sistemas de informação também estão entre os aprendizados da graduação.</p>
        <p>O curso tem disciplinas em <strong>EAD</strong>, o que flexibiliza o estudo e otimiza os deslocamentos.</p>

        <h2 id="mercado">Mercado de Trabalho</h2>
        <p>A área de Análise e Desenvolvimento de Sistemas está entre as que mais contratam no País. Empresas públicas ou privadas de TI, de telecomunicações, entre outros segmentos, são opções com oportunidades atraentes para este profissional.</p>
        <p>Você pode atuar como Analista de Requisitos, Analista de Desenvolvimento, Analista de Sistemas, Analista de Negócio e Analista de Teste ou ainda desenvolver aplicativos para celular ou jogos para computador.</p>

        <h2 id="matriz">Matriz Curricular</h2>
        <p>Confira a grade curricular do curso:</p>
        <table border="1">
            <thead>
                <!-- table head -->
                <tr>
                    <!-- table row -->
                    <th>Semestre</th>
                    <!-- table header -->
                    <th>Disciplina</th>
                    <th>Carga Horária</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="6">1º Semestre</td>
                    <!-- table data -->
                    <td>Comunicação e Expressão</td>
                    <td rowspan="6">80 horas</td>
                </tr>
                <tr>
                    <!-- td fantasma aqui (1º semestre) -->
                    <td>Fundamentos de Banco de Dados</td>
                    <!-- td fantasma aqui (80 horas) -->
                </tr>
                <tr>
                    <td>Introdução à Internet da Coisas - IoT</td>
                </tr>
                <tr>
                    <td>Lógica de Programação</td>
                </tr>
                <tr>
                    <td>Linguagem de Programação I</td>
                </tr>
                <tr>
                    <td>Matemática Aplicada</td>
                </tr>
                <!-- semester break -->
                <tr>
                    <td rowspan="8">2º Semestre</td>
                    <td>Linguagem de Programação II</td>
                    <td rowspan="5">80 horas</td>
                </tr>
                <tr>
                    <td>Linguagem SQL</td>
                </tr>
                <tr>
                    <td>Tecnologia Web</td>
                </tr>
                <tr>
                    <td>Engenharia de Software</td>
                </tr>
                <tr>
                    <td>Ambiente de Desenvolvimento e Operação - DevOps</td>
                </tr>
                <tr>
                    <td>Linguagem Brasileira de Sinais - LIBRAS</td>
                    <td rowspan="3">40 horas</td>
                </tr>
                <tr>
                    <td>Sociedade e Sustentabilidade - Optativa</td>
                </tr>
                <tr>
                    <td>Gestão de Projetos</td>
                </tr>
                <!--semester break  -->
                <tr>
                    <td rowspan="6">3º Semestre</td>
                    <!-- table data -->
                    <td>Desenvolvimento de Aplicações Atribuidas</td>
                    <td rowspan="4">80 horas</td>
                </tr>
                <tr>
                    <!-- td fantasma aqui (1º semestre) -->
                    <td>Estrutura de Dados</td>
                    <!-- td fantasma aqui (80 horas) -->
                </tr>
                <tr>
                    <td>Análise e modelagem de Sistemas</td>
                </tr>
                <tr>
                    <td>Modelagem de Processos de Negócio</td>
                </tr>
                <tr>
                    <td>Interface Homen-Computador</td>
                    <td rowspan="1">40 horas</td>
                </tr>
                <tr>
                    <td>OPE1-Oficina Projeto Emp</td>
                    <td rowspan="1">120 horas</td>
                </tr>
                <!-- break -->
                <tr>
                    <td rowspan="6">4º Semestre</td>
                    <td>Arquitetura de Projeto de Sistemas</td>
                    <td rowspan="4">80 Horas</td>
                </tr>
                <tr>
                    <td>Desenvolvimento para Dispositivos Móveis</td>
                </tr>
                <tr>
                    <td>Desenvolvimento para Internet das Coisas</td>
                </tr>
                <tr>
                    <td>Qualidade de Software</td>
                </tr>
                <tr>
                    <td>OPE2 - Oficina Projeto Empresa 2</td>
                    <td>120 Horas</td>
                </tr>
                <tr>
                    <td>Legislação e Ética</td>
                    <td>40 Horas</td>
                </tr>
            </tbody>
        </table>
        <h2 id="info">Informações Técnicas</h2>
        <ol>
            <li>
                <p> <strong>Duração do Curso:</strong>  </p>
                <ol type="a">
                    <li>2020 horas</li>
                </ol>
            </li>
            <li>
                <p> <strong>Modalidade:</strong>  </p>
                <ol type="a">
                    <li>presencial</li>
                </ol>
            </li>
            <li>
                <p> <strong>Unidade:</strong>  </p>
                <ol type="a">
                    <li>Barra Funda</li>
                </ol>
            </li>
            <li>
                <p> <strong>Período:</strong>  </p>
                <ol type="a">
                    <li>Matutino - 08h00 às 11h40</li>
                    <li>Noturno - 19h00 às 22h10</li>
                </ol>
            </li>
            <li>
                <p> <strong>Mensalidade:</strong>  </p>
                <ol type="a">
                    <li>Matutino <strong>R$582,00</strong>   </li>
                    <li>Noturno <strong>R$657,00</strong>   </li>
                </ol>
            </li>
        </ol>
{% endblock %}
