{% extends 'core/base.html' %}

{% block content %}
<body>
	<label for="login_tech">
		<h2>
			<strong>Login Here</strong>
		</h2>
	</label>
	<form action="" method="post"  id="login_tech" name="login_tech"  >{% csrf_token %}

		<strong>Email:
			<input type="email" name="email"  placeholder="Digite email aqui...">
				<br>
					<strong>Senha:</strong>
					<input type="password" name="password"  placeholder="Digite senha aqui..." >
						<br>
							<br>
								<input type="Submit" name="submit button" value="Submit">
								</form>
								<br>
									<br>
										<br>
											<br>
												<br>
												</body>

{% endblock %}
