{% extends 'core/base.html' %}

{% block content %}
<h1>{{ subject_name }}</h1>

<section>
    <h2>Objetivos</h2>
    <p>
        Nisi magna eiusmod enim proident qui aliquip enim ad. Lorem aute amet elit cupidatat Lorem labore aute proident ex mollit nisi consectetur. Lorem ea irure voluptate incididunt.
    </p>
    <p>
        Exercitation ea sunt labore cupidatat id commodo. Consectetur aliquip officia est tempor quis ad occaecat duis nulla sit duis quis id occaecat. Reprehenderit sunt ullamco ipsum ullamco adipisicing irure irure magna amet tempor duis quis et sit. Velit eiusmod ut adipisicing ea ipsum. Id exercitation reprehenderit non ipsum exercitation commodo voluptate Lorem. Enim veniam deserunt id irure cillum.
    </p>
    <p>
        Do nisi minim ipsum ipsum enim mollit aute labore consequat aliquip. Esse enim amet pariatur sint sit dolor excepteur nostrud culpa velit ut dolor qui. Dolor nostrud pariatur nostrud non amet consectetur incididunt qui anim culpa. Nisi cupidatat proident velit amet sit eiusmod aute sint occaecat id.
    </p>
    <p>
        Sit minim tempor aliquip aute adipisicing do officia ullamco culpa nisi. Nulla id aliquip dolor mollit sint ea eu. Amet minim in tempor nulla velit. Proident esse dolore consequat minim aliqua aute ipsum nisi in minim aliqua aute commodo.
    </p>
</section>

<section>
    <h2>Competências</h2>
    <p>
        Labore ullamco ad esse aliqua fugiat. Deserunt et duis sit quis sint velit sit laborum ullamco nostrud. Qui amet labore ipsum eu nostrud ut mollit aliquip laborum. In amet sint sint tempor elit.
    </p>

    <p>
        Excepteur pariatur fugiat excepteur nostrud velit ullamco laboris magna sunt sint fugiat. Lorem esse nisi nulla esse sunt ullamco aliqua nisi aute est irure nisi aliquip eu. Dolore ipsum Lorem non veniam aliqua aliqua nulla anim officia. Nostrud sunt ut dolore adipisicing. Magna sunt mollit enim do duis.
    </p>

    <p>
        Magna officia cillum proident labore dolore exercitation id in sint ad adipisicing dolor adipisicing id. Reprehenderit esse amet laboris incididunt ut qui in aliquip qui eiusmod. Mollit laboris fugiat nisi ex velit deserunt labore est. Dolore eiusmod Lorem fugiat ullamco eiusmod do duis commodo mollit. Amet do in laborum labore aute tempor anim ipsum velit ullamco minim cillum id.
    </p>

    <p>
        Nisi in enim adipisicing ullamco. Enim do commodo ut do commodo mollit pariatur sit ut pariatur ex et do. Fugiat culpa officia ullamco ullamco id nulla fugiat culpa qui et reprehenderit voluptate ullamco. Proident qui amet laboris reprehenderit reprehenderit dolor magna ullamco ut. Incididunt laborum irure veniam ut aute ullamco. Irure non velit sint officia minim.
    </p>
</section>

<section>
    <h2>Bibliografia</h2>
    <p>IPSUM, L. <em>et al</em> - Pariatur nostrud dolore aliquip mollit ut in. <b>{{ subject_name }} (2018)&copy;</b> </p>
</section>

<section>
    <h2>Critérios de avaliação</h2>
    <p>
        Reprehenderit non non tempor ea cillum sit consectetur sunt commodo ad quis enim qui esse. Est eiusmod cupidatat reprehenderit sunt mollit minim reprehenderit magna consectetur enim do tempor laborum pariatur. Ut velit laborum cupidatat ad culpa. Consequat exercitation pariatur ea sint eiusmod esse tempor cillum reprehenderit reprehenderit quis elit nulla ad. Ex pariatur ullamco adipisicing mollit minim velit. Do sit aliquip qui dolore duis velit cupidatat eu non et proident ipsum laborum voluptate.
    </p>
</section>
{% endblock %}
