.nossosCursos article ul {
    list-style: none;
}

.nossosCursos article ul li button {
    width: 100%;
    background: rgb(87, 76, 79);
    padding: 2%;
    margin-bottom: 1%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}

#ads, #gti, #rc, #bd, #adm, #jd {
    display: none;
    margin-bottom: 1%;
    color: #fff;
    background: rgba(87, 76, 79, 0.7);
    padding: 1%;
}