<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Development Team 2°B">
    <meta name="description" content="A melhor faculdade de tecnologia.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/styleGlobal.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    {% block css %}

    {% endblock %}

    {% block js %}

    {% endblock %}
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="../">
                    <h1>
                        <img src="../static/images/logo.png" class="img_logo" title="Faculdade Impacta de Tecnologia" alt="Faculdade Impacta de Tecnologia">
                    </h1>
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="../login">Área do aluno</a>
                    </li>
                    <li>
                        <a href="../cursos">Cursos</a>
                    </li>
                    <li>
                        <a href="../sobre">Sobre nós</a>
                    </li>
                    <li>
                        <a href="../contato">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block conteudo %}

        {% endblock %}
    </main>

    <footer>
        <p>11 3254-8300 - Impacta 2018 - Todos os Direitos Resevados</p>
    </footer>
</body>

</html>