{% extends 'base.html' %} 

{% block css %}
    <link rel="stylesheet" href="../static/css/styleContato.css"> 
{% endblock %} 

{% block conteudo %}
<section>
    <article>
        <form action="" method="post" name="form_contato">
            <fieldset>
                <legend>
                    <h2>Informações Pessoais</h2>
                </legend>
                <ul class="form_contato">
                    <li>
                        <input type="text" id="nome" name="nome" placeholder="Nome:" maxlength="100">
                    </li>
                    <li>
                        <input type="email" id="email" name="email" placeholder="E-mail:" maxlength="100">
                    </li>
                    <li>
                        <select>
                            <option id="bugs" value="Bugs">Bugs</option>
                            <option id="reclamacoes" value="Reclamações">Reclamações</option>
                            <option id="sugestoes" value="Sugestões">Sugestões</optionid>
                        </select>
                    </li>
                    <li>
                        <textarea id="mensagem" placeholder="Escreva sua mensagem aqui."></textarea>
                    </li>
                    <li>
                        <button>Enviar</button>
                    </li>
                </ul>
            </fieldset>
        </form>
    </article>
</section>
{% endblock %}