
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Editar Coordenador</title>
<!--Style for basic form-->
    <style>
    input{
        width: 400px;
        height: 30px;
        border-style: solid;
        border-width: thin;
      }
    button{
        margin-top: 10px;
      }
    </style>
<!--End-Style for basic form-->
  </head>
  <body>

  <h1>Editar Coordenador</h1>



  <form method="POST" action="/pesquisarCoordenador/">

          <strong>Login: </strong>  <br> <input name="login" value="{{coordenador.login_coordenador}}"/> <br>
          <strong>Senha:</strong>   <br> <input name="senha" value="{{coordenador.senha_coordenador}}"/> <br>
          <strong>Nome:</strong>    <br> <input name="nome" value="{{coordenador.nome_coordenador}}"/> <br>
          <strong>E-mail: </strong> <br> <input name="email" value="{{coordenador.email_coordenador}}"/> <br>
          <strong>Celular:</strong> <br> <input name="celular" value="{{coordenador.celular_coordenador}}"/> <br>
          <strong>Data de Expiração:</strong>   <br> <input name="data" value="{{coordenador.dt_expiracao_coordenador}}"/> <br>
          <button>ENVIAR</button>
  </form>
  </body>
  </html>
