{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="../static/css/styleIndex.css">
{% endblock %}

{% block conteudo %}
<section class="nossosCursos">
    <article>
        <h2>Conheça nossos Cursos</h2>
        <a href="">
            <img src="static/images/analise-desenvolvimento-sistemas.jpg" class="img_curso" title="Analise e Desenvolvimento de Sistemas"
                alt="Analise e Desenvolvimento de Sistemas">
        </a>
        <a href="">
            <img src="static/images/administracao.png" class="img_curso" title="Administração" alt="Administração">
        </a>
        <a href="">
            <img src="static/images/gti.jpg" class="img_curso" title="Gestão de Tecnologia da Informação" alt="Gestão de Tecnologia da Informação">
        </a>
        <a href="">
            <img src="static/images/jogos-digitais.jpg" class="img_curso" title="Jogos Digitais" alt="Jogos Digitais">
        </a>
        <a href="">
            <img src="static/images/redes-computadores.jpg" class="img_curso" title="Redes de Computadores" alt="Redes de Computadores">
        </a>
    </article>
</section>
<br>
<section class="smartClass">
    <article>
        <h2>Conheça o SmartClass</h2>
        <p>O Smart Class é um sistema de ensino inédito da Faculdade Impacta Tecnologia, que permite assistir todas as disciplinas
            dos cursos de Graduação no formato digital. O aluno matriculado em qualquer graduação da Faculdade Impacta tem
            acesso a mais de 20 mil aulas, garantindo uma formação completa e interdisciplinar. E, o melhor, sem qualquer
            custo adicional!
        </p>
        <h4>Como funciona o Smart Class?</h4>
        <p>
            As salas de aula da Faculdade Impacta são equipadas com lousas eletrônicas, que capturam todos os pontos das aulas presenciais,
            como voz, escrita dinâmica, vídeos e navegação do professor. Todo esse conteúdo é gravado e disponibilizado em
            uma sala de ensino virtual para que o aluno assista a hora que desejar.
        </p>
    </article>
</section>
<section class="noticias">
    <article>
        <h2>Notícias</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
    </article>
</section>
<section class="depoimentos">
    <article>
        <h2>Depoimentos</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
    </article>
</section>
<section class="premios">
    <article>
        <h2>Prêmios</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
    </article>
</section>
<section class="bolsaDeEstudo">
    <article>
        <h2>Bolsas de Estudos</h2>

        <h4>Plano Estendido Impacta</h4>
        <p>
            Está começando a carreira e precisa de ajudar para se preparar entre os melhores? Nós te damos essa força pra você se preocupar
            com o que mais importa,
            <strong>SUA CARREIRA!</strong>
        </p>
        <p>
            Desenvolvemos o Plano Estendido IMPACTA, um suporte financeiro para iniciar os estudos e realizar o sonho de concluir a graduação.
        </p>

        <h4>Como funciona?</h4>
        <p>
            Não é um financiamento, com o Plano Estendido IMPACTA você pode estender o parcelamento para depois da conclusão do curso.
        </p>
        <p>
            É a Impacta ajudando quem quer estudar em uma faculdade altamente renomada com um valor que cabe no bolso, sem depender de
            burocracia, cobrança de juros ou fiador.
        </p>

        <h4>Quem pode se candidatar?</h4>
        <p>
            Todos os alunos aprovados na análise do PEI (Plano Estendido Impacta) e matriculados conforme o prazo e vagas no curso de
            interesse.
        </p>

        <h4>Vantagens do Plano Estendido Impacta (PEI)</h4>
        <ul>
            <li>Válido para todo o curso: você poderá utilizar durante todo o seu curso de graduação.</li>
            <li>Sem juros: totalmente sem juros ou correção monetária.</li>
            <li>Sem burocracia: Basta ser aprovado no vestibular e informar da adesão sem burocracia ou complicação.</li>
            <li>Não precisa conta no banco ou fiador: É tudo muito simples, a adesão é direto na faculdade. Não é um financiamento.
            </li>
        </ul>

        <h4>Regras</h4>
        <ul>
            <li>O Plano Estendido Impacta é válido somente para alunos ingressantes em 2018-1.</li>
            <li>No caso de atraso nos pagamento das mensalidade superior a 30 dias, o Plano Estendido Impacta poderá ser suspenso.
            </li>
            <li>Vagas limitadas por curso e turma. Não reservamos vagas para os candidatos aprovados. Garanta sua vaga efetivando
                a matrícula.</li>
            <li>Valores para pagamento no dia 05 de cada mês.</li>
        </ul>
    </article>
    <article>
        <form action="" method="post" name="form_plano_estendido">
            <fieldset>
                <legend>
                    <h4>Plano Estendido Impacta</h4>
                </legend>
                <ul>
                    <li>
                        <input type="text" id="nome" name="nome" id="nome" required placeholder="Nome:">
                    </li>
                    <li>
                        <input type="email" id="email" name="email" id="email" required placeholder="E-mail:">
                    </li>
                    <li>
                        <input type="tel" id="telefone" name="telefone" id="telefone" required placeholder="Celular/Telefone:">
                    </li>
                    <li>
                        <button>ENVIAR</button>
                    </li>
                </ul>
            </fieldset>
        </form>
    </article>
</section>
{% endblock %}