{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="">
{% endblock %}

{% block conteudo %}
<h2>{{titulo}}</h2>

<form method="POST" action="">
    <p>
        Login: <input name="login" value="{{coordenador.login_coordenador}}"/>
        Senha: <input name="senha" value="{{coordenador.senha_coordenador}}"/>
        Nome: <input name="nome" value="{{coordenador.nome_coordenador}}"/>
        E-mail: <input name="email" value="{{coordenador.email_coordenador}}"/>
        Celular: <input name="celular" value="{{coordenador.celular_coordenador}}"/>
        Data de Expiração: <input name="data" value="{{coordenador.dt_expiracao_coordenador}}" placeholder="Data deve ter formato AAAA-MM-DD">
        <button>{{botao}}</button>
    </p>
</form>


{%endblock%}
