{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href=""> 
{% endblock %} 

{% block conteudo %}
<h2>{{titulo}}</h2>

<form method="POST" action="">
    <p>
        RA: <input name="ra" value="{{ra}}" readonly="true"/>
        Nome: <input name="nome" value="{{aluno.nome_aluno}}"/>
        E-mail: <input name="email" value="{{aluno.email_aluno}}" type="email"/>
        Celular: <input name="celular" value="{{aluno.celular_aluno}}"/>
        Login: <input name="login" value="{{aluno.login_aluno}}"/>
        Senha: <input name="senha" value="{{aluno.senha_aluno}}"/>
        <button>{{botao}}</button>
    </p>
</form>


{%endblock%}
