{% extends 'base.html' %}



{% block conteudo %}
<section>
    <article>
        <h2>Disciplinas</h2>
        <a><a href="/novaDisciplina">Nova Disciplina</a></a>
            <table border="1" width="100%">
                <tr>
                    <th>Nome Disciplina</th>
                    <th>Data Disciplina</th>
                    <th>Status Disciplina</th>
                    <th>Plano Disciplina</th>
                    <th>Carga Horaria Disciplina</th>
                    <th>Coordenador Disciplina</th>
                    <th>Ações</th>
                </tr>
                {% for disciplina in disciplina %}
                <tr>
                    <td>{{disciplina.nome_disciplina}}</td>
                    <td>{{disciplina.data_disciplina}}</td>
                    <td>{{disciplina.status_disciplina}}</td>
                    <td>{{disciplina.plano_ensino_disciplina}}</td>
                    <td>{{disciplina.carga_horaria_disciplina}}</td>
                    <td>{{disciplina.id_coordenador}}</td>
                    <td>
                        <a href="/vizualizarDisciplina/{{disciplina.id_disciplina}}">Visualizar</a>
                        <a href="/excluirDisciplina/{{disciplina.id_disciplina}}">Editar</a>
                        <a href="/excluirDisciplina/{{disciplina.id_disciplina}}">Excluir</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
    </article>
</section>
{% endblock %}
