{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="">
{% endblock %}

{% block conteudo %}
<section>
    <article>
        <h2>Cursos</h2>
            <table border="1" width="100%">
                <tr>
                    <th>Nome</th>
                </tr>
                {% for Curso in Cursos %}
                <tr>
                    <td>{{Curso.nome_curso}}</td>
                </tr>
                {%endfor%}
            </table>
    </article>
</section>
{% endblock %}
