body {
    margin: 0;
    font-size: 1em;
    font-family: sans-serif;
    background: rgba(88, 75, 79,0.2);
}

main {
    width: 80%;
    margin: 8% auto;
}

h2, h4 {
    text-transform: uppercase;
}

p, ul {
    width: 90%;
    margin: 0 auto;
}

header {
    width: 100%;
    background: rgb(87, 76, 79);
    display:block;
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
}

nav {
    width: 80%;
    height: 85px;
    margin: 0 auto;
    font-size: 14px;
}

.logo {
    float: left;
    margin-top: -1%;
    margin-bottom: 0;
    margin-right: 2%;
}

.logo h1 {
    margin-bottom: 0;
}

.menudrop {
    float: right;
    width: 70%;
    margin-top: 1.6%;
}

.menudrop ul {
    list-style: none;
    margin-top: 7%;
}

.menudrop ul li {
    display: inline;
}

.menudrop ul li a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

ul.menu,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

ul.menu ul {
    position: absolute;
    display: none;
    box-shadow: 3px 3px 2px #333;
}

ul.menu {
    float: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    padding: 0 5px;
}

.menu li {
    float: left;
    width: auto;
    position: relative;
}

.menu li a {
    display: block;
    padding: 0 20px;
    line-height: 55px;
    height: 100%;
    float: left;
    transition: all 0.1s linear;
}

.menu li:hover>ul.submenu-1 {
    display: block;
    top: 45px;
    left: 0;
    padding: 5px;
    width: 200px;
    border-radius: 0 0 5px 5px;
}

.menu ul.submenu-1 a {
    width: 160px;
    padding: 0 20px;
    border-radius: 5px;
}

.menu {
    background: rgb(87, 76, 79);
    width: 100%;
}

.menu a {
    color: #fff;
}

.menu li:hover>a {
    background: #999;
    color: #fff;
    border-radius: 5px;
}

.submenu-1 {
    background: #999;
}

.submenu-1 a {
    color: #fff;
}

.submenu-1 li:hover>a {
    background: #666;
}

footer {
    width: 98%;
    padding: 1%;
    margin-top: 1%;
    background: rgb(87, 76, 79);
    display:block;
    position:fixed;
    width:100%;
    bottom:0vh;
    left:0;
}

footer p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

form ul {
    list-style: none;
}

input {
    width: 95%;
    padding: 1.5%;
    margin-bottom: 1%;
    border: none;
    font-size: 1em;
}

button {
    padding: 1.5% 3%;
    border: none;
    color: #fff;
    background-color: #279f43;
    font-size: 1em;
    font-family: sans-serif;
    text-transform: uppercase;
}